# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.Games-Engines-2-CA.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\35389\Desktop\Copy\Games Engines 2 Assignment\Games-Engines-2-CA\.idea\.idea.Games-Engines-2-CA\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
