# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Games Engines 2 Assignment.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\35389\Desktop\Copy\Games Engines 2 Assignment\.idea\.idea.Games Engines 2 Assignment\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
